In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import re
from datetime import datetime as dt

#### Import the data and get a high-level picture

In [8]:
df = pd.read_csv('sales.csv')
df.head()

,order_id,name,ordered_at,price,quantity,line_total
0,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,3,$10.50
1,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,1,$3.50
2,10001,"""SORBET"" Raspberry",2018-01-01 12:14:54,$2.50,2,$5.00
3,10001,NaN,2018-01-01 12:14:54,$1.50,1,$1.50
4,10001,"""CONE"" Dipped Waffle Cone",2018-01-01 12:14:54,$3.50,1,$3.50

In [9]:
df.shape

(29922, 6)

In [10]:
df.dtypes

order_id       int64
name          object
ordered_at    object
price         object
quantity       int64
line_total    object
dtype: object

#### TODO: Fix column datatypes

Change ordered_at to datetime

Change price and line_total to float

In [73]:
df['ordered_at'] = dt.strptime(df['ordered_at'], '%Y-%m-%d')

NameError: name 'dt' is not defined

In [39]:
df['line_total'] = (df['line_total']).replace('[\$]', '', regex=True)

In [40]:
df['price'] = (df['price']).replace('[\$]', '', regex=True)

In [41]:
df["price"] = pd.to_numeric(df["price"])

In [42]:
df["line_total"] = pd.to_numeric(df["line_total"])

In [43]:
df.dtypes

order_id        int64
name           object
ordered_at     object
price         float64
quantity        int64
line_total    float64
dtype: object

#### TODO: drop if duplicated or null

In [49]:
df[df.duplicated()].shape[0]

538

In [50]:
df = df[df['name'].isnull() == False]

In [51]:
df.dropna()

,order_id,name,ordered_at,price,quantity,line_total
0,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,3.5,3,10.5
1,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,3.5,1,3.5
2,10001,"""SORBET"" Raspberry",2018-01-01 12:14:54,2.5,2,5.0
4,10001,"""CONE"" Dipped Waffle Cone",2018-01-01 12:14:54,3.5,1,3.5
5,10002,"""SORBET"" Lychee",2018-01-01 12:23:09,3.0,1,3.0
7,10002,"""ICE CREAM"" Earl Gray",2018-01-01 12:23:09,0.5,3,1.5
8,10003,"""ICE CREAM"" Matcha",2018-01-01 12:49:35,1.5,3,4.5
9,10004,"""BEVERAGE"" Iced Coffee",2018-01-01 13:22:59,2.5,2,5.0
10,10004,"""BEVERAGE"" Espresso",2018-01-01 13:22:59,2.5,1,2.5
11,10004,"""ICE CREAM"" Mint Chip",2018-01-01 13:22:59,1.5,2,3.0
12,10004,"""CONE"" Brownie Cone",2018-01-01 13:22:59,3.0,3,9.0
13,10004,"""ICE CREAM"" Dulce De Leche",2018-01-01 13:22:59,1.5,3,4.5
14,10005,"""SORBET"" Raspberry",2018-01-01 13:58:20,2.5,2,5.0
15,10005,"""ICE CREAM"" Dulce De Leche",2018-01-01 13:58:20,1.5,2,3.0
16,10005,"""CONE"" Waffle Cone",2018-01-01 13:58:20,4.0,2,8.0
17,10005,"""ICE CREAM"" Candied Bacon",2018-01-01 13:58:20,0.5,1,0.5
18,10005,"""SORBET"" Raspberry",2018-01-01 13:58:20,2.5,1,2.5
19,10006,"""MISC"" Ice Cream Cake",2018-01-01 14:55:50,2.0,3,6.0
20,10006,"""SORBET"" Lychee",2018-01-01 14:55:50,3.0,1,3.0
21,10006,"""CONE"" Waffle Cone",2018-01-01 14:55:50,4.0,1,4.0
22,10006,"""ICE CREAM"" Peanut Fudge",2018-01-01 14:55:50,3.5,2,7.0
23,10006,"""SORBET"" Lemon",2018-01-01 14:55:50,2.5,3,7.5
24,10007,"""ICE CREAM"" Peanut Fudge",2018-01-01 15:03:17,3.5,3,10.5
25,10007,"""CONE"" Sugar Cone",2018-01-01 15:03:17,1.0,3,3.0
26,10007,"""SORBET"" Raspberry",2018-01-01 15:03:17,2.5,2,5.0
28,10007,"""ICE CREAM"" Matcha",2018-01-01 15:03:17,-1.5,2,-3.0
29,10008,"""SORBET"" Watermelon",2018-01-01 15:48:02,2.5,2,5.0
30,10008,"""SORBET"" Raspberry",2018-01-01 15:48:02,2.5,1,2.5
31,10008,"""ICE CREAM"" Earl Gray",2018-01-01 15:48:02,0.5,2,1.0
32,10008,"""SORBET"" Raspberry",2018-01-01 15:48:02,2.5,3,7.5
...,...,...,...,...,...,...
29892,17082,"""ICE CREAM"" Maple Brown Sugar",2018-05-29 06:13:56,2.0,2,4.0
29893,15532,"""CONE"" Waffle Cone",2018-04-25 22:08:26,4.0,1,4.0
29894,12462,"""SORBET"" Blood Orange",2018-02-22 13:27:40,2.5,3,7.5
29895,19620,"""ICE CREAM"" Double Fudge Chunk",2018-07-20 23:10:36,3.5,1,3.5
29896,19221,"""CONE"" Sugar Cone",2018-07-12 03:48:50,1.0,2,2.0
29897,12474,"""ICE CREAM"" Earl Gray",2018-02-22 17:23:57,0.5,1,0.5
29898,17161,"""ICE CREAM"" Wildberry",2018-05-30 22:54:10,1.5,2,3.0
29899,15838,"""ICE CREAM"" Maple Brown Sugar",2018-05-02 22:15:45,2.0,2,4.0
29900,18082,"""SORBET"" Raspberry",2018-06-18 13:36:16,2.5,2,5.0
29901,12331,"""ICE CREAM"" Dark Chocolate",2018-02-19 19:04:01,4.0,1,4.0
29902,15373,"""CONE"" Dipped Waffle Cone",2018-04-22 22:17:45,3.5,3,10.5
29903,12456,"""CONE"" Cookie Cone",2018-02-22 10:20:27,4.0,2,8.0
29904,11079,"""ICE CREAM"" Vanilla Bean",2018-01-23 17:15:32,1.5,1,1.5
29905,15969,"""CONE"" Brownie Cone",2018-05-05 17:50:35,3.0,2,6.0
29906,19748,"""MISC"" Ice Cream Cake",2018-07-23 14:18:20,2.0,1,2.0
29907,11601,"""ICE CREAM"" Rocky Road",2018-02-04 14:36:06,3.5,1,3.5
29908,13140,"""CONE"" Brownie Cone",2018-03-08 06:00:34,3.0,1,2.0
29909,15209,"""CONE"" Waffle Cone",2018-04-19 07:28:18,4.0,1,4.0
29910,16118,"""ICE CREAM"" Wildberry",2018-05-08 17:28:03,1.5,1,1.5
29911,12568,"""ICE CREAM"" Maple Brown Sugar",2018-02-24 15:57:59,2.0,2,4.0
29912,12842,"""SORBET"" Lemon",2018-03-02 09:19:02,2.5,3,7.5
29913,19802,"""ICE CREAM"" Vanilla Bean",2018-07-24 19:09:38,1.5,3,4.5
29914,19901,"""ICE CREAM"" Dark Chocolate",2018-07-26 20:46:29,4.0,3,12.0
29915,17090,"""ICE CREAM"" Maple Brown Sugar",2018-05-29 10:04:32,2.0,1,2.0
29916,12807,"""BEVERAGE"" Iced Coffee",2018-03-01 15:00:58,2.5,3,7.5
29917,18452,"""ICE CREAM"" Dulce De Leche",2018-06-26 03:56:13,-1.5,2,-3.0
29918,12889,"""ICE CREAM"" Dark Chocolate",2018-03-03 10:06:21,4.0,3,12.0
29919,14526,"""ICE CREAM"" Peanut Fudge",2018-04-05 17:33:24,3.5,3,10.5
29920,19589,"""CONE"" Dipped Waffle Cone",2018-07-20 09:10:01,3.5,2,7.0
29921,19270,"""ICE CREAM"" Earl Gray",2018-07-13 09:20:21,0.5,2,1.0

In [52]:
df.isnull().sum()

order_id      0
name          0
ordered_at    0
price         0
quantity      0
line_total    0
dtype: int64

In [53]:
df[df['name'].isnull()].head()

Empty DataFrame
Columns: [order_id, name, ordered_at, price, quantity, line_total]
Index: []

#### Sanity check for value ranges and to check assumptions

In [58]:
df[(df['price'] * df['quantity']) != df['line_total']].shape[0]

29

In [59]:
df[df['line_total'] < 0].shape[0]

0

#### TODO: 
Set line_total = price * quantity if different
Remove if line total < 0

In [90]:
df[df['line_total'] != df['price'] * df['quantity']] = df['price'] * df['quantity']

,order_id,name,ordered_at,price,quantity,line_total,category
0,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,3.5,3,10.5,"""ICE CREAM"" Peanut Fudge"
1,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,3.5,1,3.5,"""ICE CREAM"" Peanut Fudge"
2,10001,"""SORBET"" Raspberry",2018-01-01 12:14:54,2.5,2,5.0,"""SORBET"" Raspberry"
4,10001,"""CONE"" Dipped Waffle Cone",2018-01-01 12:14:54,3.5,1,3.5,"""CONE"" Dipped Waffle Cone"
5,10002,"""SORBET"" Lychee",2018-01-01 12:23:09,3.0,1,3.0,"""SORBET"" Lychee"
7,10002,"""ICE CREAM"" Earl Gray",2018-01-01 12:23:09,0.5,3,1.5,"""ICE CREAM"" Earl Gray"
8,10003,"""ICE CREAM"" Matcha",2018-01-01 12:49:35,1.5,3,4.5,"""ICE CREAM"" Matcha"
9,10004,"""BEVERAGE"" Iced Coffee",2018-01-01 13:22:59,2.5,2,5.0,"""BEVERAGE"" Iced Coffee"
10,10004,"""BEVERAGE"" Espresso",2018-01-01 13:22:59,2.5,1,2.5,"""BEVERAGE"" Espresso"
11,10004,"""ICE CREAM"" Mint Chip",2018-01-01 13:22:59,1.5,2,3.0,"""ICE CREAM"" Mint Chip"
12,10004,"""CONE"" Brownie Cone",2018-01-01 13:22:59,3.0,3,9.0,"""CONE"" Brownie Cone"
13,10004,"""ICE CREAM"" Dulce De Leche",2018-01-01 13:22:59,1.5,3,4.5,"""ICE CREAM"" Dulce De Leche"
14,10005,"""SORBET"" Raspberry",2018-01-01 13:58:20,2.5,2,5.0,"""SORBET"" Raspberry"
15,10005,"""ICE CREAM"" Dulce De Leche",2018-01-01 13:58:20,1.5,2,3.0,"""ICE CREAM"" Dulce De Leche"
16,10005,"""CONE"" Waffle Cone",2018-01-01 13:58:20,4.0,2,8.0,"""CONE"" Waffle Cone"
17,10005,"""ICE CREAM"" Candied Bacon",2018-01-01 13:58:20,0.5,1,0.5,"""ICE CREAM"" Candied Bacon"
18,10005,"""SORBET"" Raspberry",2018-01-01 13:58:20,2.5,1,2.5,"""SORBET"" Raspberry"
19,10006,"""MISC"" Ice Cream Cake",2018-01-01 14:55:50,2.0,3,6.0,"""MISC"" Ice Cream Cake"
20,10006,"""SORBET"" Lychee",2018-01-01 14:55:50,3.0,1,3.0,"""SORBET"" Lychee"
21,10006,"""CONE"" Waffle Cone",2018-01-01 14:55:50,4.0,1,4.0,"""CONE"" Waffle Cone"
22,10006,"""ICE CREAM"" Peanut Fudge",2018-01-01 14:55:50,3.5,2,7.0,"""ICE CREAM"" Peanut Fudge"
23,10006,"""SORBET"" Lemon",2018-01-01 14:55:50,2.5,3,7.5,"""SORBET"" Lemon"
24,10007,"""ICE CREAM"" Peanut Fudge",2018-01-01 15:03:17,3.5,3,10.5,"""ICE CREAM"" Peanut Fudge"
25,10007,"""CONE"" Sugar Cone",2018-01-01 15:03:17,1.0,3,3.0,"""CONE"" Sugar Cone"
26,10007,"""SORBET"" Raspberry",2018-01-01 15:03:17,2.5,2,5.0,"""SORBET"" Raspberry"
29,10008,"""SORBET"" Watermelon",2018-01-01 15:48:02,2.5,2,5.0,"""SORBET"" Watermelon"
30,10008,"""SORBET"" Raspberry",2018-01-01 15:48:02,2.5,1,2.5,"""SORBET"" Raspberry"
31,10008,"""ICE CREAM"" Earl Gray",2018-01-01 15:48:02,0.5,2,1.0,"""ICE CREAM"" Earl Gray"
32,10008,"""SORBET"" Raspberry",2018-01-01 15:48:02,2.5,3,7.5,"""SORBET"" Raspberry"
33,10009,"""SORBET"" Blood Orange",2018-01-01 16:14:06,2.5,3,7.5,"""SORBET"" Blood Orange"
...,...,...,...,...,...,...,...
29891,15374,"""CONE"" Cookie Cone",2018-04-22 22:35:26,4.0,3,12.0,"""CONE"" Cookie Cone"
29892,17082,"""ICE CREAM"" Maple Brown Sugar",2018-05-29 06:13:56,2.0,2,4.0,"""ICE CREAM"" Maple Brown Sugar"
29893,15532,"""CONE"" Waffle Cone",2018-04-25 22:08:26,4.0,1,4.0,"""CONE"" Waffle Cone"
29894,12462,"""SORBET"" Blood Orange",2018-02-22 13:27:40,2.5,3,7.5,"""SORBET"" Blood Orange"
29895,19620,"""ICE CREAM"" Double Fudge Chunk",2018-07-20 23:10:36,3.5,1,3.5,"""ICE CREAM"" Double Fudge Chunk"
29896,19221,"""CONE"" Sugar Cone",2018-07-12 03:48:50,1.0,2,2.0,"""CONE"" Sugar Cone"
29897,12474,"""ICE CREAM"" Earl Gray",2018-02-22 17:23:57,0.5,1,0.5,"""ICE CREAM"" Earl Gray"
29898,17161,"""ICE CREAM"" Wildberry",2018-05-30 22:54:10,1.5,2,3.0,"""ICE CREAM"" Wildberry"
29899,15838,"""ICE CREAM"" Maple Brown Sugar",2018-05-02 22:15:45,2.0,2,4.0,"""ICE CREAM"" Maple Brown Sugar"
29900,18082,"""SORBET"" Raspberry",2018-06-18 13:36:16,2.5,2,5.0,"""SORBET"" Raspberry"
29901,12331,"""ICE CREAM"" Dark Chocolate",2018-02-19 19:04:01,4.0,1,4.0,"""ICE CREAM"" Dark Chocolate"
29902,15373,"""CONE"" Dipped Waffle Cone",2018-04-22 22:17:45,3.5,3,10.5,"""CONE"" Dipped Waffle Cone"
29903,12456,"""CONE"" Cookie Cone",2018-02-22 10:20:27,4.0,2,8.0,"""CONE"" Cookie Cone"
29904,11079,"""ICE CREAM"" Vanilla Bean",2018-01-23 17:15:32,1.5,1,1.5,"""ICE CREAM"" Vanilla Bean"
29905,15969,"""CONE"" Brownie Cone",2018-05-05 17:50:35,3.0,2,6.0,"""CONE"" Brownie Cone"
29906,19748,"""MISC"" Ice Cream Cake",2018-07-23 14:18:20,2.0,1,2.0,"""MISC"" Ice Cream Cake"
29907,11601,"""ICE CREAM"" Rocky Road",2018-02-04 14:36:06,3.5,1,3.5,"""ICE CREAM"" Rocky Road"
29908,13140,"""CONE"" Brownie Cone",2018-03-08 06:00:34,3.0,1,3.0,"""CONE"" Brownie Cone"
29909,15209,"""CONE"" Waffle Cone",2018-04-19 07:28:18,4.0,1,4.0,"""CONE"" Waffle Cone"
29910,16118,"""ICE CREAM"" Wildberry",2018-05-08 17:28:03,1.5,1,1.5,"""ICE CREAM"" Wildberry"
29911,12568,"""ICE CREAM"" Maple Brown Sugar",2018-02-24 15:57:59,2.0,2,4.0,"""ICE CREAM"" Maple Brown Sugar"
29912,12842,"""SORBET"" Lemon",2018-03-02 09:19:02,2.5,3,7.5,"""SORBET"" Lemon"
29913,19802,"""ICE CREAM"" Vanilla Bean",2018-07-24 19:09:38,1.5,3,4.5,"""ICE CREAM"" Vanilla Bean"
29914,19901,"""ICE CREAM"" Dark Chocolate",2018-07-26 20:46:29,4.0,3,12.0,"""ICE CREAM"" Dark Chocolate"
29915,17090,"""ICE CREAM"" Maple Brown Sugar",2018-05-29 10:04:32,2.0,1,2.0,"""ICE CREAM"" Maple Brown Sugar"
29916,12807,"""BEVERAGE"" Iced Coffee",2018-03-01 15:00:58,2.5,3,7.5,"""BEVERAGE"" Iced Coffee"
29918,12889,"""ICE CREAM"" Dark Chocolate",2018-03-03 10:06:21,4.0,3,12.0,"""ICE CREAM"" Dark Chocolate"
29919,14526,"""ICE CREAM"" Peanut Fudge",2018-04-05 17:33:24,3.5,3,10.5,"""ICE CREAM"" Peanut Fudge"
29920,19589,"""CONE"" Dipped Waffle Cone",2018-07-20 09:10:01,3.5,2,7.0,"""CONE"" Dipped Waffle Cone"
29921,19270,"""ICE CREAM"" Earl Gray",2018-07-13 09:20:21,0.5,2,1.0,"""ICE CREAM"" Earl Gray"

In [88]:
df = df[df['line_total'] >= 0]

0        False
1        False
2        False
4        False
5        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
29       False
30       False
31       False
32       False
33       False
         ...
29891    False
29892    False
29893    False
29894    False
29895    False
29896    False
29897    False
29898    False
29899    False
29900    False
29901    False
29902    False
29903    False
29904    False
29905    False
29906    False
29907    False
29908    False
29909    False
29910    False
29911    False
29912    False
29913    False
29914    False
29915    False
29916    False
29918    False
29919    False
29920    False
29921    False
Name: line_total, Length: 28152, dtype: bool

In [61]:
df.describe()

           order_id         price      quantity    line_total
count  28152.000000  28152.000000  28152.000000  28152.000000
mean   14991.953396      2.510319      2.001705      5.027707
std     2888.586572      1.059779      0.819506      3.086223
min    10000.000000      0.500000      1.000000      0.000000
25%    12500.750000      1.500000      1.000000      2.500000
50%    14967.500000      2.500000      2.000000      4.500000
75%    17506.000000      3.500000      3.000000      7.500000
max    19999.000000      4.000000      3.000000     12.000000

#### TODO: Get value between "" in name and put it in category column

In [85]:
s = df['name'].split('"')
c = s[1]
n = s[2]
df['category'] = c
df['name'] = n

AttributeError: 'Series' object has no attribute 'split'

In [63]:
df.head()

,order_id,name,ordered_at,price,quantity,line_total,category
0,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,3.5,3,10.5,"""ICE CREAM"" Peanut Fudge"
1,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,3.5,1,3.5,"""ICE CREAM"" Peanut Fudge"
2,10001,"""SORBET"" Raspberry",2018-01-01 12:14:54,2.5,2,5.0,"""SORBET"" Raspberry"
4,10001,"""CONE"" Dipped Waffle Cone",2018-01-01 12:14:54,3.5,1,3.5,"""CONE"" Dipped Waffle Cone"
5,10002,"""SORBET"" Lychee",2018-01-01 12:23:09,3.0,1,3.0,"""SORBET"" Lychee"

#### Analysis, finally!

In [ ]:
f, ax = plt.subplots(figsize=(10, 6))
df.groupby('name')['line_total'].sum().sort_values(ascending=False).head(10).plot(kind='bar')
f.autofmt_xdate()
plt.show()